{{extend 'layout.html'}}
<section class="article-profile">
	<article>
		<header>
			<div class="inner">
				<h1>{{=article.title}}</h1>
				<span class="article-date">
					{{cdate = article.created_on}}
					{{='{0}/{1}/{2}'.format(cdate.day, cdate.month, cdate.year)}}
				</span>
			</div>
			<hr />
		</header>

		<div class="article-body-content">
			{{if article.cover:}}
				<figure class="article-cover-img">
					{{=IMG(_src=URL(c='default', f='download', args=[article.cover]))}}
				</figure>
				<hr />
			{{pass}}

			<span class="article-content">
				{{=P(article.content)}}
			</span>
		</div>
		<hr />
		<footer>
			<div class="navigation">
				<p>
					<a href="{{=URL(c='wall', f='index')}}">Voltar</a>
				</p>
			</div>
		</footer>		
	</article>
</section>