{{extend 'layout.html'}}


<h1>Mural</h1>
<hr />
{{if wall:}}
<section>
	{{for article in wall['selection']:}}
		{{count_articles += 1}}
		{{if count_articles <= limit:}}
			<article class="wall">
				<header>
					<div class="inner">
						<h4 style="float: left">
						{{=A(article.title, _href=URL(c='wall', f='article', args=[article.id]))}}
						</h4>

						<span class="wall-article-date">
							{{cdate = article.created_on}}
							{{='Criado em {0}/{1}/{2}'.format(cdate.day, cdate.month, cdate.year)}}
						</span>
					</div>
				</header>

				<div class="wall-body-content">
					<p>
						{{=article.content}}
					</p>
					<a href="{{=URL(c='wall', f='article', args=[article.id])}}"> 
						Ler o artigo inteiro
					</a>
				</div>
			</article>
			<hr />
		{{pass}}
	{{pass}}
</section>
{{pass}}
